extend ../includes/_template.pug
//- Подключаем переменные

//- #{address} образец как вставлять переменную pug


append content
    h2 Добавление свободного параметка
    
         
            
            