//- Подключаем переменные
include ../includes/_var.pug  

//- #{address} образец как вставлять переменную pug

<!DOCTYPE html>
html(lang=lang)
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/style.min.css")
        //- link(rel="shortcut icon" href="icons/favicon.ico" type="image/ico")
        title #{myTitle}
    body
        section.promo#up
            .container
                header.header
                    include ../block/_header.pug
                .promo__wrapper
                    h1 Подбор пульсометра
                    h2 с учётом Вашего уровня подготовки
                    .promo__items
                        .promo__icon
                            img.promo__img(src="img/promo/watch.png", alt="watch")
                            p Время подбора: 10 минут 
                        .promo__icon
                            img.promo__img(src="img/promo/hand.png", alt="hand")
                            p Бесплатная доставка
                        .promo__icon
                            img.promo_img(src="img/promo/messages.png", alt="message")
                            p Ответимна все вопросы
                    button.button.button__big(data-modal="consultation")  заказать кОНСУЛЬТАЦИЮ
                    p или <span> ПЕРЕЙТИ В КАТАЛОГ </span>
        section.advantages
            .container
                h2.advantages__header НАШИ ПРЕИМУЩЕСТВА
                .advantages__wrapper
                    .advantages__items
                        img.advantages__img(src="img/advantages/cup.png", alt="cup")
                        p.advantages__subheader Делимся опытом
                        p.advantages__text
                            |Наши сотрудники всегда готовы поделиться своим опытом, так как сами бегают полумарафоны, переплыли Босфор, готовятся к соревнованиям по триатлону!
                    .advantages__items
                        img.advantages__img(src="img/advantages/heart.png", alt="heart")
                        p.advantages__subheader Заботимся о здоровье
                        p.advantages__text
                            | Мы работаем для того, чтобы Ваши занятия спортом шли на пользу Вашему здоровью и были в радость Вам и Вашим близким!
                    .advantages__items
                        img.advantages__img(src="img/advantages/shoe.png", alt="shoe")
                        p.advantages__subheader Учим бегать
                        p.advantages__text 
                            | Помогаем с обучением правильной технике бега! Дружим с крупнейшей школой бега в России - 
                            a(href="#") I LOVE RUNNING.
        section.consultation
            .container#cons-form
                h2.consultation__title Получите бесплатную консультацию по подбору пульсометра 
                p.consultation__descr Просто заполните форму заявки <br> и мы перезвоним вам в течении 10 минут
                form.consultation__form(action="#")
                    input(name ="name" type="text", placeholder="Ваше имя")
                    input(name = "phone" , placeholder="Ваш телефон")
                    input(name = "email" type="email", placeholder="email")
                    button.button.button__form  заказать кОНСУЛЬТАЦИЮ
        section.carousel
            .container
                .carousel__inner
                    div
                        img(src="img/carousel/polar-m400-triple.png", alt="1")
                    div
                        img(src="img/carousel/2.png", alt="2")
                    div
                        img(src="img/carousel/3.png", alt="3")
        section.catalog
            .container
                h2.catalog__subheader Каталог пульсометров
                ul.catalog-tabs
                    li.catalog-tabs__button.catalog-tabs__button__active
                        div Для фитнеса
                    li.catalog-tabs__button
                        div для бега
                    li.catalog-tabs__button
                        div для триатлона
                include ../block/__cards
        section.feedback
            .container
                h2.feedback__title отзывы клиентов
                .feedback__wrapper
                    img(src="img/feedback/irina.png", alt="foto")
                    .feedback__item
                        h3.feedback__name Ирина Иванченко
                        h4.feedback__subheader 2 полумарафона
                        p.feedback__content
                            | Не знала, что себе купить - обратилась к ребятам из RunSmart - подобрали пульсометр, который подошёл именно под мои цели и финансовые возможности.
                            | Через некоторое время решила обновить гаджет - не раздумывая обратилась туда же.
                        </br>
                        p Новые цели - новый гаджет!
                        </br>
                        p Спасибо, RunSmart! 
                .feedback__wrapper
                    img(src="img/feedback/ivan.png", alt="foto")
                    .feedback__item
                        h3.feedback__name Ирина Иванченко
                        h4.feedback__subheader 2 полумарафона
                        p.feedback__content
                            | Не знала, что себе купить - обратилась к ребятам из RunSmart - подобрали пульсометр, который подошёл именно под мои цели и финансовые возможности.
                            | Через некоторое время решила обновить гаджет - не раздумывая обратилась туда же.
                        </br>
                        p Новые цели - новый гаджет!
                        </br>
                        p Спасибо, RunSmart! 
                .feedback__wrapper
                    img(src="img/feedback/ulia.png", alt="foto")
                    .feedback__item
                        h3.feedback__name Ирина Иванченко
                        h4.feedback__subheader 2 полумарафона
                        p.feedback__content
                            | Не знала, что себе купить - обратилась к ребятам из RunSmart - подобрали пульсометр, который подошёл именно под мои цели и финансовые возможности.
                            | Через некоторое время решила обновить гаджет - не раздумывая обратилась туда же.
                        </br>
                        p Новые цели - новый гаджет!
                        </br>
                        p Спасибо, RunSmart! 
        footer.footer
            .footer__maps
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Adc3f739fdc270d80b62bee3ee6696cda5032c86f68b3db5a8d60e5970826b8aa&amp;source=constructor" width="100%" height="630" frameborder="0"></iframe>
            .footer__title
                address Москва, Мясницкий проезд, д.3с1
                a(href="tel:84999228974") 8 (499) 922-89-74
        
        include ../block/_modal.pug

        a.pageup(href="#up")
            img(src="img/up.svg", alt="up")

        script(src="js/jquery-1.11.0.min.js")
        script(src="js/jquery-migrate-1.2.1.min.js")
        script(src="js/slick.min.js")
        script(src="js/jquery.validate.min.js")
        script(src="js/jquery.maskedinput.min.js")
        script(src="js/script.js") 
            
            