*
    box-sizing: border-box
    margin: 0
    padding: 0
html
    font-size: 10px
body
    font-family: 'Poppins', sans-seif
    font-size: 1.4rem
a
    text-decoration: none
ul
    list-style: none
.container
    max-width: 117rem
    margin: 0 auto
       
