extend ../includes/_template.pug
//- Подключаем переменные
append config
        - var myTitle = 'Основные команды docker'
        - var myDesc = 'Docker'
        - var mykeywords = 'Основные команды docker'
        - var csspatch = '../../css/'
        - var icopatch = '../../icons/'
        - var htmlpatch = '../../pages/'
        - var htmlPatchIndex = '../../'


//- #{address} образец как вставлять переменную pug


append content
    h2 Добавление свободного параметка
    
         
            
            