.catalog-item__cards.catalog-item__cards_active
    .catalog-item__card
        .catalog-item__wrapper
            .catalog-item__content.catalog-item__content_active
                img(src="img/catalog/1.png", alt="1")
                h2.catalog-item__subheader Пульсометр Polar FT1
                .catalog-item__descr
                    |   Для первых шагов в тренировках, основанных на сердечном ритме
                .catalog-item__link
                    a(href="#") ПОДРОБНЕЕ
            .catalog-item__list
                ul
                    li Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                    li Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                    li Также Вы увидите информацию о расходе калорий за тренировку;
                    li Вы сможете посмотреть данные по 10 тренировкам.
                a.catalog-item__back(href="#") Назад
        hr 
        .catalog-item__buy
            .catalog-item__prices
                p.catalog-item__line   4 750 руб.
                p.catalog-item__price   4 500 руб.
            button.button.button__btnprice КУПИТЬ
    .catalog-item__card
        .catalog-item__wrapper
            .catalog-item__content.catalog-item__content_active
                img(src="img/catalog/1.png", alt="1")
                h2.catalog-item__subheader Пульсометр Polar FT2
                .catalog-item__descr
                    |   Для первых шагов в тренировках, основанных на сердечном ритме
                .catalog-item__link
                    a(href="#") ПОДРОБНЕЕ
            .catalog-item__list
                ul
                    li Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                    li Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                    li Также Вы увидите информацию о расходе калорий за тренировку;
                    li Вы сможете посмотреть данные по 10 тренировкам.
                a.catalog-item__back(href="#") Назад
        hr 
        .catalog-item__buy
            .catalog-item__prices
                p.catalog-item__line   4 750 руб.
                p.catalog-item__price   4 500 руб.
            button.button.button__btnprice КУПИТЬ
    .catalog-item__card
        .catalog-item__wrapper
            .catalog-item__content.catalog-item__content_active
                img(src="img/catalog/1.png", alt="1")
                h2.catalog-item__subheader Пульсометр Polar FT3
                .catalog-item__descr
                    |   Для первых шагов в тренировках, основанных на сердечном ритме
                .catalog-item__link
                    a(href="#") ПОДРОБНЕЕ
            .catalog-item__list
                ul
                    li Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                    li Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                    li Также Вы увидите информацию о расходе калорий за тренировку;
                    li Вы сможете посмотреть данные по 10 тренировкам.
                a.catalog-item__back(href="#") Назад
        hr 
        .catalog-item__buy
            .catalog-item__prices
                p.catalog-item__line   4 750 руб.
                p.catalog-item__price   4 500 руб.
            button.button.button__btnprice КУПИТЬ
    .catalog-item__card
        .catalog-item__wrapper
            .catalog-item__content.catalog-item__content_active
                img(src="img/catalog/1.png", alt="1")
                h2.catalog-item__subheader Пульсометр Polar FT4
                .catalog-item__descr
                    |   Для первых шагов в тренировках, основанных на сердечном ритме
                .catalog-item__link
                    a(href="#") ПОДРОБНЕЕ
            .catalog-item__list
                ul
                    li Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                    li Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                    li Также Вы увидите информацию о расходе калорий за тренировку;
                    li Вы сможете посмотреть данные по 10 тренировкам.
                a.catalog-item__back(href="#") Назад
        hr 
        .catalog-item__buy
            .catalog-item__prices
                p.catalog-item__line   4 750 руб.
                p.catalog-item__price   4 500 руб.
            button.button.button__btnprice КУПИТЬ
    .catalog-item__card
        .catalog-item__wrapper
            .catalog-item__content.catalog-item__content_active
                img(src="img/catalog/1.png", alt="1")
                h2.catalog-item__subheader Пульсометр Polar FT10
                .catalog-item__descr
                    |   Для первых шагов в тренировках, основанных на сердечном ритме
                .catalog-item__link
                    a(href="#") ПОДРОБНЕЕ
            .catalog-item__list
                ul
                    li Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                    li Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                    li Также Вы увидите информацию о расходе калорий за тренировку;
                    li Вы сможете посмотреть данные по 10 тренировкам.
                a.catalog-item__back(href="#") Назад
        hr 
        .catalog-item__buy
            .catalog-item__prices
                p.catalog-item__line   4 750 руб.
                p.catalog-item__price   4 500 руб.
            button.button.button__btnprice КУПИТЬ
.catalog-item__cards
    .catalog-item__card
        .catalog-item__wrapper
            .catalog-item__content.catalog-item__content_active
                img(src="img/catalog/1.png", alt="1")
                h2.catalog-item__subheader Пульсометр Polar FT1
                .catalog-item__descr
                    |   Для первых шагов в тренировках, основанных на сердечном ритме
                .catalog-item__link
                    a(href="#") ПОДРОБНЕЕ
            .catalog-item__list
                ul
                    li Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                    li Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                    li Также Вы увидите информацию о расходе калорий за тренировку;
                    li Вы сможете посмотреть данные по 10 тренировкам.
                a.catalog-item__back(href="#") Назад
        hr 
        .catalog-item__buy
            .catalog-item__prices
                p.catalog-item__line   4 750 руб.
                p.catalog-item__price   4 500 руб.
            button.button.button__btnprice КУПИТЬ
    .catalog-item__card
        .catalog-item__wrapper
            .catalog-item__content.catalog-item__content_active
                img(src="img/catalog/1.png", alt="1")
                h2.catalog-item__subheader Пульсометр Polar FT1
                .catalog-item__descr
                    |   Для первых шагов в тренировках, основанных на сердечном ритме
                .catalog-item__link
                    a(href="#") ПОДРОБНЕЕ
            .catalog-item__list
                ul
                    li Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                    li Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                    li Также Вы увидите информацию о расходе калорий за тренировку;
                    li Вы сможете посмотреть данные по 10 тренировкам.
                a.catalog-item__back(href="#") Назад
        hr 
        .catalog-item__buy
            .catalog-item__prices
                p.catalog-item__line   4 750 руб.
                p.catalog-item__price   4 500 руб.
            button.button.button__btnprice КУПИТЬ
.catalog-item__cards
    .catalog-item__card
        .catalog-item__wrapper
            .catalog-item__content.catalog-item__content_active
                img(src="img/catalog/1.png", alt="1")
                h2.catalog-item__subheader Пульсометр Polar FT5
                .catalog-item__descr
                    |   Для первых шагов в тренировках, основанных на сердечном ритме
                .catalog-item__link
                    a(href="#") ПОДРОБНЕЕ
            .catalog-item__list
                ul
                    li Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                    li Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                    li Также Вы увидите информацию о расходе калорий за тренировку;
                    li Вы сможете посмотреть данные по 10 тренировкам.
                a.catalog-item__back(href="#") Назад
        hr 
        .catalog-item__buy
            .catalog-item__prices
                p.catalog-item__line   4 750 руб.
                p.catalog-item__price   4 500 руб.
            button.button.button__btnprice КУПИТЬ
