
a(href="#").header__logo
    img(src="icons/logo.png", alt="logo")
.header__oficial
    | Официальный представитель
    span Garmin, Polar, Suunto
.header__contacts
    a(href="tel:+4999228974").header__phone +7 (499) 922-89-74
    button.button(data-modal="consultation") заказать звонок
